# Client (Prefix with VITE_)
VITE_CLERK_PUBLISHABLE_KEY=pk_test_...
VITE_APP_NAME="My TanStack App"

# Server (Secure)
DATABASE_URL="postgresql://user:pass@localhost:5432/db"
OPEN_AI_API_KEY="sk-..."
SELINE_TOKEN="sel-..."
